@import
url('https://fonts.googleapis.com/css?family=Inconsolata|Lekton&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Inconsolata', monospace;
}
img{
  max-width: 100%;
}

/*Header
=============*/
header{
  padding: 40px 0px;
  margin: auto;
}
header div{
  max-width: 1140px;
  margin: auto;
  padding: 10px;
}
header .logo{
  width: 200px;
}
header .menu{
  display: inline;
  font-family: 'Lekton', sans-serif;
  font-size: 25px;
  cursor: pointer;
  padding: 13px 15px;
  float: right;
}
/*=============*/


/*Image Header
=============*/
.img-container{
  overflow: hidden;
  position: relative;
  height: 188px;
  text-align: center;
}
.img-container img{
  margin-top: -30%;
}
.img-container div{
  position: absolute;
  font-size: 28px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-container img{
  margin-top: 5;
}
/*=============*/

/*Body_Content
=============*/
.wrapper{
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  left: 0px;
  max-width: 1140px;
  height: 100%;
}

/*Customization*/
/*=============*/
.Customize-Wrapper{
  display: flex;
  justify-content: space-around;
}
.Boat-Wrapper{
  width: 50%;
  height: auto;
}
.Boat-Container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  height: 100%;
}
.Boat-Container img{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
}

/*Boat Parts*/
.Spinnaker, .Racing-Spinnaker, .Racing-Jib, .Racing-MainSail, .Canting-Seats{
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
}
.Spinnaker, .Racing-Spinnaker{
  z-index: -1;
}

.Customize-Container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1{
  font-size: 25px;
  color: #F6364D;
}
.Customize-Container span{
  display: block;
  color: #777777;
  font-family: 'Lekton', sans-serif;
  cursor: pointer;
}
.Customize-Container #Order-Wrapper{
  font-size: 20px;
  color: #F6364D;
}
.Customize-Container span:hover{
  font-weight: bolder;
}
/*=============*/

.disclaimer{
  color: #777777;
  text-align: center;
  font-size: 15px;
  opacity: 0.7;
}
.red{
  border: 0.5px solid #F6364D;
  opacity: 0.5;
}

.Specifications-Header{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.Logos{
  position: relative;
  top: 15px;
  width: 50%;
  height: auto;
}
.Specifications-Header h1{
  position: relative;
  width: 50%;
  height: auto;
  top: 15px;
  text-align: right;
  float: right;
  cursor: pointer;
}
.Specifications-Header h1:hover{
  color: gray;
}
.Specifications-Container{
  position: relative;
  height: auto;
}
#Specifications{
  overflow: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: all 1s ease;
        transition: all 1s ease;
}
.Specifications-Content{
  height: auto !important;
  opacity: 1 !important;
}

.Measurements p{
  color: gray;
  text-align: center;
}
.Measurements strong{
  color: #666666;
  font-size: 20px;
}
.Measurements table{
   width: 300px;
   color: gray;
   float: left;
   margin-left: 5%;
 }
.Measurements th, td{
   padding: 8px;
   border-bottom: 1px solid #ddd;
 }
.right{
  text-align: right;
}
.Details{
  padding-top: 10px;
}
#Construction, #Mast, #Gear{
  width: 300px;
  display: inline-block;
  margin-left: 5%;
}
#Mast{
  vertical-align: top;
}
.Details p{
  color: #383838;
  white-space: pre-line;
  font-size: 20px;
  font-family: "Lekton", sans-serif;
  line-height: 1;
}
.Details strong{
  font-family: "Inconsolata", monospace;
  color: black;
}
/*=============*/

/*T&Cs and Order Overlay
==============*/
.Order-Wrapper{
  background-color: #222222;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
}

.Order-Wrapper ::-webkit-scrollbar {
  width: 8px;
}
.Order-Wrapper ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.Order-Wrapper ::-webkit-scrollbar-thumb {
  background: #888;
}
.Order-Wrapper ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Order-Header{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.Order-Header h1{
  color: white;
}
.Order-Header .closeBtn{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.Terms-Content{
  overflow: scroll;
  overflow-x: hidden;
  height: 88%;
}
.Terms-Content p{
  line-height: 1.2;
  white-space: pre-line;
  color: white;
}
.btn{
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-right: 15px;
  cursor: pointer;
}
.btn:hover{
  color: #F6364D;
  text-decoration: underline;
}
.Terms-Content .right{
  float: right;
}

.Order-Content{
  height: 88%;
  display: none;
  overflow-y: scroll;
}
.OrderOption{
  font-size: 20px;
  font-weight: bold;
}
.Order-Content table{
  color: white;
  table-layout: fixed;
  text-align: left;
}
.Order-Content td{
  width: 50%;
  border: none;
}
input[type=number]{
  width: 50px;
  border: 1px solid #222222;
  color: white;
  background-color: #2D2D2D;
  border-radius: 3px;
}
.total{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.total p{
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  margin: 0;
}
/*==============*/

/*Menu-Overlay
=============*/
.overlay{
  background-color: #222222;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
}
.overlay a, p{
  position: relative;
  font-family: Lekton;
  color: white;
  font-size: 32px;
  text-decoration: none;
  color: white;
}
.overlay .closeBtn{
  text-decoration: none;
  color: white;
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 45px;
  font-size: 15px;
  padding: 10px;
}

.overlay-container{
  position: relative;
  margin: 0 auto;
  left: 10px;
  max-width: 1140px;
  height: 100%;
}

.overlay-content{
  position: relative;
  top: 0%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  z-index: 2;
}
.overlay-content a::after{
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2px solid white;
  width: 0;
  left: 0;
  max-width: 272px;
  -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}
.overlay-content a:hover:after{
  width: 100%;
}

.overlay-footer{
  position: sticky;
  text-align: left;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 150px 0 40px;
}
.overlay-footer a, p{
  font-size: 15px;
}
.overlay-footer a:hover{
  color: #838383;
}
.overlay-footer a::after{
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2px solid #962D39;
  width: 0;
  left: 0;
  max-width: 272px;
  -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}
.overlay-footer a:hover:after{
  width: 100%;
}
/*=============*/


/*footer
=============*/
.footer{
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 50px 0 40px;
}

hr{
  max-width: 1140px;
  border: 0.5px solid #ddd;
  border-left: none;
  border-right: none;
}

.footer ul{
  display: inline-block;
  margin: 3;
  padding: 50px 0px 40px;
}
.footer .fab{color: black;}

.footer p{
  font-family: Lekton;
  color: #777777;
  font-size: 15px;
}
.footer p a{
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #777777;
  border-bottom: 1px none #F6364D;
}
.footer p a::after{
  content: "";
  position: absolute;
  display: block;
  border-bottom: 1px solid #F6364D;
  width: 0;
  left: 0;
  max-width: 272px;
  -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

.footer p a:hover:after{width: 100%;}

.footer p a:hover{color: #F6364D;}
/*=============*/


/*Responsiveness
=============*/
@media screen and (max-width: 1200px){
  header div{max-width: 970px;}

  hr, .overlay-container, .wrapper{max-width: 940px;}
}

@media screen and (max-width: 990px){
  header div{max-width: 750px;}

  header{padding-top: 25px;}

  hr, .overlay-container, .wrapper{max-width: 720px;}
}

@media screen and (max-width: 720px){
  div.img-container{height: 80px;}

  .overlay a{font-size: 20px;}
  .overlay-footer a, p{font-size: 15px;}
  .overlay .closebtn{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  hr, .overlay-container, .wrapper{max-width: 90%;}
  .wrapper{padding-top: 10px;}

  .Customize-Wrapper{
    flex-direction: column-reverse;
    justify-content: center;
    align-content: flex-start;
  }
  .Boat-Wrapper{width: auto;}

  .Specifications-Header h1{font-size: 20px}
}
